/* Load Images for Image gallery */

#gallery-1 {
	background: url('../images/gallery/AcadiaNationalPark.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-2 {
	background: url('../images/gallery/ChesapeakeBaySunset.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-3 {
	background: url('../images/gallery/CoastGuardBeach.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-4 {
	background: url('../images/gallery/CoastGuardBeachStation.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-5 {
	background: url('../images/gallery/CoastGuardSurf_01.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-6 {
	background: url('../images/gallery/CoastGuardSurf_02.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-7 {
	background: url('../images/gallery/CoastGuardSurf_04.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-8 {
	background: url('../images/gallery/CoastGuardSurf_05.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-9 {
	background: url('../images/gallery/CoastGuardSurf_06.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-10 {
	background: url('../images/gallery/CoastGuardSurf_07.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-11 {
	background: url('../images/gallery/CoastGuardSurf_08.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-12 {
	background: url('../images/gallery/CoastGuradSurf_03.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-13 {
	background: url('../images/gallery/EiffelTower_01.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-14 {
	background: url('../images/gallery/EiffelTower_1472.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-15 {
	background: url('../images/gallery/FalmouthSunset.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-16 {
	background: url('../images/gallery/FeedingFrenzy.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-17 {
	background: url('../images/gallery/Gravity_Fruit.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-18 {
	background: url('../images/gallery/LongTrail_VT.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-19 {
	background: url('../images/gallery/Maine_7234.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-20 {
	background: url('../images/gallery/Maine_Waterfall.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-21 {
	background: url('../images/gallery/AcadiaNationalPark.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-22 {
	background: url('../images/gallery/MarshesMagothyBay_0140.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-23 {
	background: url('../images/gallery/MarshesMagothyBay_0143.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-24 {
	background: url('../images/gallery/MushroomSpohrGardens_01.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-25 {
	background: url('../images/gallery/MushroomSpohrGardens_02.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-26 {
	background: url('../images/gallery/MushroomSpohrGardens_6877.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-27 {
	background: url('../images/gallery/MushroomSpohrGardens.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-28 {
	background: url('../images/gallery/Nobska-20x30.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-29 {
	background: url('../images/gallery/Osteospermum-leftquarter.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-30 {
	background: url('../images/gallery/Osteospermum-rightquarter.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-31 {
	background: url('../images/gallery/Osteospermum.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-32 {
	background: url('../images/gallery/Paris.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-33 {
	background: url('../images/gallery/Sailboat.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-34 {
	background: url('../images/gallery/ScenicPanoRangeleyME.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-35 {
	background: url('../images/gallery/Serenity.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-36 {
	background: url('../images/gallery/SkyView.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-37 {
	background: url('../images/gallery/SunBathingSeals_02.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-38 {
	background: url('../images/gallery/SunBathingSeals.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-39 {
	background: url('../images/gallery/SunsetFalmouth.jpg') no-repeat;
	@include image-grid-item;
}

#gallery-40 {
	background: url('../images/gallery/Surfboards_01.jpg') no-repeat;
	@include image-grid-item;
}

         
         