/* === General Styles === */
body { 
	background: $white;
	font-family: $font-main;
	font-style: normal;
	@include sexy-text;
	overflow: scroll;
}



.home {
	padding-top: 125px;
}

.gallery {
	padding-top: 125px;
}






