/* === Global Styles === */

// * {
// 	margin: 0;
// 	padding: 0;
// }

h1,h2,h3,h4,h5,h6 {
	@include sexy-text;
	font-weight: $medium;
	font-family: $font-main;
}

h1 {
	font-size: 3em;
}

h2 { font-size: 2.65rem;

}

h3 { font-size: 2.2rem;

}

h4 { font-size: 1.57rem;

}

img {
	max-width: 100%;
}

p {
	margin: 0 0 15px;
}

p.lead {
	font-weight: $normal;
}

span.required {
	color: red;
}

a {
	color: $primary;
	text-decoration: none;
}

a:link, a:visited {
	color: $primary;
}

a:hover {
	text-decoration: none;
	color: $grey;
}

button, input, select, .btn, a.btn {
	@include sexy-text;
	color: #fff;
	font-weight: 500;
}

.btn {
	font-weight: $thick;
}

.btn:focus {
	outline: none;
}

.btn-24 {
	background: $studio24-btn;
}

.btn-24:hover {
	background: $studio24-btn-hover;
	@include hover-transition;
}


.teal {
	background:$teal;
	color: $white;
}


.light-grey {
	background: $light-grey;
	
}

.grey {
	background:$grey;
	color:$black;
}



blockquote {
	font-style: italic;
	border: none;
	font-size: 1.5686rem;
	font-weight: $normal;
	padding: 7px 15px;
	margin: 0 15px;
}


.social {
	font-size: 24px;
	width: 35px;
	height: 35px;
	line-height: 37px;
	color: $teal !important;
	padding: 0;
	margin: 0 5px 20px 0;
}

.social.facebook:hover {
	color: $facebook !important;
	@include hover-transition;
}

.social.twitter:hover {
	color: $twitter !important;
	@include hover-transition;
}

.social.linked-in:hover {
	color: $linkedin !important;
	@include hover-transition;
}

.social.instagram:hover {
	color: $instagram !important;
	@include hover-transition;
}

.social.gplus:hover {
	color: $googleplus !important;
	@include hover-transition;
}

.social.pintrest:hover {
	color: $pinterest !important;
	@include hover-transition;
}

.navbar-brand {
	padding: 0 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background: transparent;
}

.nav > li > a {
	padding: 10px 15px;

}

.hvr-shutter-in-horizontal:before {
	opacity: 0.2;
}



/* ==== FORMS ==== */
label {
	display: block;
	font-weight: 500;
}

.form-control {
	border-radius: 0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	height: 34px;
}



input[type="text"],
input[type="phone"],
input[type="email"],
input[type="url"],
input[type="search"],
textarea {
	border-radius: 0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border: 1px solid $grey;
	padding: 4px 8px;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;

}

input[type="submit"],
button[type="submit"] {
	display: inline-block;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.33;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	background-image: none;
	border: none;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius: 6px;
	width: 20%;
	background: $grey;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
	background: $studio24-btn-hover;
	@include hover-transition;

}

/**** For WordPress Only *****/

#wpcf7-f108-o1 input[type="submit"]:hover,
#wpcf7-f108-o1 button[type="submit"]:hover {
  background: #02c8d8;
  transition: all 0.6s ease;
}

#wpcf7-f108-o1 input[type="text"],
#wpcf7-f108-o1 input[type="tel"],
#wpcf7-f108-o1 input[type="email"],
#wpcf7-f108-o1 input[type="url"],
#wpcf7-f108-o1 input[type="search"],
#wpcf7-f108-o1 textarea {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border: 1px solid #a8a8a8;
  padding: 4px 8px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  background: $black;
}

#wpcf7-f108-o1 .form-group {
	margin-bottom: 0;
}

.acf-map {
    width: 100%;
    height: 275px;
    border: #ccc solid 1px;
    margin: 20px 0;
}

// .widgettitle {
// 	display: none;
// }

/**** END WordPress Only *****/

.alert {
	width: 92%;
}









