@mixin sexy-text {
	-webkit-font-smoothing:antialiased;
	text-rendering: optimizeLegibility;
}

@mixin circle {	
	border-radius: 100%;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	text-align: center;
}

@mixin badge {

}

@mixin image-grid-item {
	background-size: cover;
	-o-object-fit:cover;
	object-fit:cover;
}

@mixin top-shadow {

}

@mixin bottom-shadow {

}

@mixin hover-transition {
	-webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

@mixin blog-heading {
	margin: 0 0 15px;
	padding: 0 0 15px;
	border-bottom: 1px solid $border-grey;
}


