body { 
	background: $white;
	font-family: $font-main;
	font-style: normal;
	font-weight: 300;
}

img {
	max-width: 100%;
}

a {
	color: $teal ;
	text-decoration: underline;
}

a:hover {
	color: $grey ;
}